In [ ]:
# 10817: 세 수
nums = list(map(int, input().split()))
nums.sort()
print(nums[1])

In [ ]:
# 28114: 팀명 정하기
## 1. 세 참가자의 해결 문제 개수, 입학 연도, 성씨 입력
## 2. [첫번째 방법] 세 참가자의 입학 연도를 100으로 나눈 나머지를 오름차순으로 정렬해서 이어 붙이기(문자열)
## 3. [두번째 방법] 세 참가자의 성씨를 영문으로 표기했을 때의 첫 글자를, 해결한 문제가 많은 사람부터 차례대로 나열

p1, y1, s1 = input().split()
p2, y2, s2 = input().split()
p3, y3, s3 = input().split()
p = list(map(int, list([p1, p2, p3])))
y = list(map(int, list([y1, y2, y3])))
s = [s1, s2, s3]

name1_list = sorted([str(y_ % 100) for y_ in y])
name1 = ''.join(name1_list)

name2_list = [[p[i], s[i][0]] for i in range(3)]
name2_list.sort(reverse=True, key = lambda x: x[0])
n2_list = [str(name2_list[i][1]) for i in range(3)]
name2 = ''.join(n2_list)
print(name1)
print(name2)